{% extends 'header.html' %}
{% block contenido %}
{% load static %}
<div class="container" style="margin-top:10%; margin-bottom:10%;">
    <div class="row">
        <div class="alert alert-danger text-center mt-5" style="width:100%">
            <strong class="">No se ha encontrado ninguna página con la petición realizada.</strong>
        </div>
    </div>
    <div class="row">
        <div class="row d-flex justify-content-center mt-5">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/desinfectante.png' %}"
                 alt="Desinfección"/>
            <img class="img-responsive center-block" src="{% static '/404.png' %}" style="width: 30%;"/>
        </div>
    </div>
</div>

{% endblock %}