{% extends 'header.html' %}
{% block contenido %}
<body>
{% if ex_msg %}
<h1 style="margin-top:40px;"><b>{{ex_msg}}</b></h1>
{% endif %}
    <div class="d-flex justify-content-center mt-5 p-5">
        <span class="border border-success" >
            <div class="row">
                <div class="col center-block p-5">
                    <p class="mt-5  text-center">¿Tienes una cuenta?</p>
                    <p class="banner-btn font-weight-bold">
                        <a href="/inicioSesion" class="active">Iniciar sesión</a>
                        <a href="/registroCliente" class="active">Registrarse</a>
                    </p>
                </div>
            </div>
        </span>
    </div>
    <h2 class="text-center my-3">SOBRE NOSOTROS PANOLI</h2>
    <div name ="container" class="d-flex justify-content-center mt-3 p-5">
        <span class="border border-success">
            <div class="row">
                <div class="col center-block p-5 text-justify ">
                    <p> Somos una empresa andaluza, con sede en Sevilla y desarrollamos nuestra actividad en el
                        campo del Control Medioambiental desde hace más de 40 años. A lo largo de los años hemos logrado
                        constituirnos como empresa líder, precursora, reconocida y motor del desarrollo en el sector.
                        En Dedesin, S.L. desarrollamos nuestros servicios bajo la premisa de una completa filosofía y
                        código deontológico de trabajo. Contamos con las más novedosas técnicas en diagnosis, seguimiento
                        y control del sector. Consolidados como un referente indiscutible en nuestra actividad,
                        nos caracterizamos por utilizar siempre productos de calidad y contar con un personal profesional,
                        cualificado y formado de forma precisa, para el desarrollo de su actividad laboral.</p>
                </div>
            </div>
        </span>
    </div>
    <h2 class="text-center my-5">INFORMACIÓN ÚTIL</h2>

    <div name ="container" class="d-flex justify-content-center mb-4" style="width: 100%;">
        <div class="row justify-content-center ">
            <span class="border border-success p-5 mx-3">
                <div class="col-lg " style="width: 300px;">
                    <h2 class="text-center">Roedores</h2>
                    <p class="text-justify mt-3">Portadores de enfermedades y brotes epidemiológicos.
                            Destruyen y consumen cuanto encuentran a su paso,
                            anidando en el interior de las edificaciones.
                    </p>
                </div>
            </span>
            <span class="border border-success p-5 mx-3" >
                <div class="col-lg " style="width: 300px;">
                    <h2 class="text-center" >Cucarachas</h2>
                    <p class="text-justify mt-3">Potenciales portadoras de bacterias, ponen en riesgo la salud,
                    contagiando enfermedades y contaminado las superficies por donde pasan.
                    </p>
                </div>
            </span>
            <span class="border border-success p-5 mx-3">
                    <div class="col-lg " style="width: 300px;">
                        <h2 class="text-center">Avispas</h2>
                        <p class="text-justify mt-3">Potenciales portadoras de bacterias, ponen en riesgo la salud,
                        conSus picaduras, además de muy dolorosas. Pueden resultar extremadamente
                        graves para personas alérgicas, niños o ancianos.
                    </div>
            </span>
        </div>
    </div>
{% endblock %}
</body>

