{% extends 'header.html' %} {% block contenido %} {% load static %}

<div class="container-fluid">
  <div class="row" id="home-1">
    <h1 class="title mx-4">La solución a sus problemas de plagas</h1>
    <h4 class="subtitle mx-4 w-50">
      En Dedesin SL solucionamos todo tipo de problemas ambientales, desde
      invsiones de insectos hasta control de herbaje.
    </h4>
    <hr>
    <!--<a class="mx-4 btn btn-outline-success text-decoration-none" href="/tratamientos" style="color:#2a9d8f;">MÁS INFORMACIÓN 
      <i class="fal fa-chevron-right"></i> </a>-->
  </div>
  
    
</div>
<div name="" class="container-fluid">
  <div class="row justify-content-end" id="home-2">
    <h1 class="title mx-4">Una empresa con espíritu familiar</h1>
    <h4 class="subtitle mx-4 w-50">
      En Dedesin SL tratamos a nuestros clientes como si fueran miembros de
      nuestra familia. Su problema, es nuestro problema.
    </h4>
  </div>
</div>
<div class="w-100" id="parallax-inicio">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
        <div>
          <h1 class="text-center title text-white">Eficiencia y garantia</h1>
          <h4 class="text-center mt-3 subtitle">
            Desde Dedesin S.L le garantizamos la máxima efectividad y calidad en
            nuestros tratamientos. Nos avala 40 años a la cabeza del sector.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center font-weight-bolder">Trabajamos para</h1>
  <div class="row text-center mt-5">
    <div class="col-lg-4 col-md-12 col-xs-12">
      <i class="fal fa-home-alt fa-3x circle-icon"></i>
      <h3 class="mt-3 subtitle">Particulares</h3>
      <p class="text-justify mt-3">
        Dedesin, S. L. soluciona todos aquellos problemas domésticos de control
        medioambiental que usted mismo no pueda solventar.
      </p>
    </div>
    <div class="col-lg-4 col-md-12 col-xs-12">
      <i class="circle-icon fal fa-suitcase fa-3x"></i>
      <h3 class="mt-3 subtitle">Empresas privadas</h3>
      <p class="text-justify mt-3">
        Dedesin, S. L. soluciona de forma efectiva, profesional y económica los
        problemas de control medioambiental que tenga en sus instalaciones.
      </p>
    </div>
    <div class="col-lg-4 col-md-12 col-xs-12">
      <i class="circle-icon fal fa-landmark fa-3x"></i>
      <h3 class="mt-3 subtitle">Administración pública</h3>
      <p class="text-justify mt-3">
        Dedesin, S.L. soluciona problemas relacionados con el medioambiente en
        núcleos urbanos y edificios dependientes de la administración pública.
      </p>
    </div>
  </div>
</div>
{% endblock %}
