<section class="hero">
    <div class="about">
        <h3>Nuestra empresa</h3>
        <p class="text-justify">
            Somos una empresa andaluza, con sede en Sevilla y desarrollamos nuestra actividad en el
            campo del Control Medioambiental desde hace más de 40 años. A lo largo de los años hemos logrado 
            constituirnos como empresa líder, precursora, reconocida y motor del desarrollo en el sector.
            En Dedesin, S.L. desarrollamos nuestros servicios bajo la premisa de una completa filosofía y 
            código deontológico de trabajo. Contamos con las más novedosas técnicas en diagnosis, seguimiento 
            y control del sector. Consolidados como un referente indiscutible en nuestra actividad, 
            nos caracterizamos por utilizar siempre productos de calidad y contar con un personal profesional, 
            cualificado y formado de forma precisa, para el desarrollo de su actividad laboral.
        </p>
    </div>
        <div class="bugs">
            <h3>Información útil</h3>
            <div class="item">
                <h2 >Roedores</h2>
                <p>Portadores de enfermedades y brotes epidemiológicos. 
                        Destruyen y consumen cuanto encuentran a su paso, 
                        anidando en el interior de las edificaciones.
                </p>
            </div>
            <div class="item">
                <h2 >Cucarachas</h2>
                <p>Potenciales portadoras de bacterias, ponen en riesgo la salud, 
                contagiando enfermedades y contaminado las superficies por donde pasan.
                </p>
            </div>
            <div class="item">
                <h2 >Avispas</h2>
                <p>Potenciales portadoras de bacterias, ponen en riesgo la salud, 
                conSus picaduras, además de muy dolorosas. Pueden resultar extremadamente 
                graves para personas alérgicas, niños o ancianos.

                </p>
            </div>
            

        </div>

        <div class="services">
            <h3>Servicios que realizamos</h3>
            <div class="item">
                <h2 >Desratización</h2>
                <p>Solución rápida y eficaz para controlar ratas, ratones y roedores.
                </p>
            </div>
            <div class="item">
                <h2 >Desinfección</h2>
                <p>Complemento indispensable a un buen sistema de limpieza, asegurando que gérmenes y bacterias no se desarrollen.
                </p>
            </div>
            <div class="item">
                <h2 >Desinsectación</h2>
                <p>Eliminamos cualquier tipo de plaga de insectos que haya invadido su hogar o su lugar de trabajo.
                </p>
            </div>
            <div class="item">
                <h2 >Control de aves</h2>
                <p>Bajo la premisa de no dañar a las aves y causar el menor impacto paisajístico e ambiental posible.
                </p>
            </div>

            <div class="item">
                <h2 >Control de xilófagos</h2>
                <p>Causantes de la degradación de estructuras en edificios, además de adornos, puertas o remates de madera.
                </p>
            </div>

            <div class="item">
                <h2 >Limpieza de sistemas de climatización</h2>
                <p>limpieza y prevención en los conductos de aire acondicionado, climatización, tubos de ventilación y conductos industriales.
                </p>
            </div>

            <div class="item">
                <h2 >Instalaciones RD. 865/2003</h2>
                <p>Para la prevención y control de la Legionella Pneumophila.
                </p>
            </div>

            <div class="item">
                <h2 >Limpieza industrial y suministros</h2>
                <p>Limpieza posterior a eventos, ferias, espectáculos, finalización de obras, naves industriales, viviendas en desuso, etc.
                </p>
            </div>
            
            <div class="item">
                <h2 >Desherbación y desbroce</h2>
                <p>Mediante técnicas manuales, mecánicas y químicas.
                </p>
            </div>
            

        </div>

        <div class="contact">
            <h3>Contacto</h3>
            <div class="item">  
                <p>Telefono:123456789
            </div>
            <div class="item">  
                <p>Dirección:Calle Caño Ronco 143, Camas, Sevilla
            </div>
            <div class="item">  
                <p>E-mail:info@dedesin.com
            </div>
        </div>

        


</section>
