{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% if administrador %}
<div class="container mb-5" style="margin-top:10%;">
    <h1> Administrador {{administrador.persona.nombre}} {{administrador.persona.apellidos}} </h1>
    <div class="container mt-4">
        <div class="row mt-4">
            {% if msg_error %}
            <div class="alert alert-danger" style="width:100%">
                <strong>{{msg_error}}</strong>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <h3 class="text-muted mb-3 w-100">Detalles del administrador</h3>
                    <strong><p>DNI: </p></strong>
                    <p class=" ml-1">{{administrador.persona.dni}}</p>
                </div>
                <div class="row">
                    <strong><p>Correo: </p></strong>
                    <p class="ml-1">{{administrador.persona.usuario.username}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono: </p></strong>
                    <p class="ml-1">{{administrador.persona.telefono}}</p>
                </div>
                <div class="row">
                    <a class="btn btn-outline-dark rounded-0"
                       href="/administrador/administrador/edit/{{administrador.id}}">Editar</a>
                    <a class="btn btn-outline-danger rounded-0 mx-3"
                       href="/administrador/administrador/delete/{{administrador.id}}">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if form %}
<div class="container mb-5" style="margin-top:10%;">
    <h1> Nuevo administrador</h1>
    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <form id='form' method='post'>
                {% csrf_token %}
                {% for field in form %}
                <div class="container center_div" style="margin-top:10px;">
                    {# uncomment to display field errors #}
                    {# {{ field.errors }} #}

                    {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}
                <div class="container mt-3">
                    <p><input type='submit' class="btn btn-outline-dark rounded-0" value='Confirmar'
                              style=""/>
                </div>
            </form>
        </div>
    </div>

</div>
{% endif %}
{% if form_edit %}
<div class="container mb-5" style="margin-top:10%;">
    <h1> Editar administrador</h1>
    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if form.errors %}
        {% for field in form_edit %}
        {% for error in field.errors %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <h3 class="text-muted mb-3 w-100">Detalles del administrador</h3>
            <strong><p>Nombre: </p></strong>
            <p class="ml-1">{{administrador_edit.persona.nombre}} {{administrador_edit.persona.apellidos}}</p>
        </div>
        <div class="row">
            <strong><p>DNI: </p></strong>
            <p class=" ml-1">{{administrador_edit.persona.dni}}</p>
        </div>
        <div class="row">
            <strong><p>Correo: </p></strong>
            <p class="ml-1">{{administrador_edit.persona.usuario.username}}</p>
        </div>
        <div class="row">
            <form id='form_edit' method='post'>
                {% csrf_token %}
                {% for field in form_edit %}
                <div class="" style="margin-top:10px;">
                    {# uncomment to display field errors #}
                    {# {{ field.errors }} #}
                    <label for="field">{{field.label_tag}}</label>
                    <input id="field" type="{{field.type}}" name="{{field.name}}"
                           value="{{administrador_edit.persona.telefono}}">
                </div>
                {% endfor %}
                <div class="container mt-3">
                    <p><input type='submit' class="btn btn-outline-dark rounded-0" value='Confirmar'
                              style=""/>
                </div>
            </form>
        </div>
    </div>

</div>
{% endif %}

{% endblock %}