{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% if servicio %}
<div class="container mb-5" style="margin-top:10%;">
    <h1> Servicio {{servicio.id}} </h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <h3 class="text-muted mb-3 w-100">Detalles del servicio</h3>
                    <strong><p>Fecha: </p></strong>
                    <p class=" ml-1">{{servicio.solicitudServicio.fecha}}</p>
                </div>
                <div class="row">
                    <strong><p>Estado:</p></strong>
                    <p class="ml-1">{{servicio.estado.title}}</p>
                </div>
                <div class="row">
                    <strong><p>Tratamiento: </p></strong>
                    <p class="ml-1">{{servicio.solicitudServicio.tratamiento.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Plaga: </p></strong>
                    <p class="ml-1">{{servicio.solicitudServicio.plaga.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Abandono: </p></strong>
                    <p class="ml-1">{{servicio.solicitudServicio.tratamiento.abandono}}</p>
                </div>
                <div class="row">
                    <strong><p>Tiempo de abandono: </p></strong>
                    <p class="ml-1">{{servicio.solicitudServicio.tratamiento.horasAbandono}}</p>
                </div>
                {% if servicio.estado == 'realizado' %}
                <div class="row">
                    <strong><p>Observaciones del trabajador</p></strong>
                    <p class="ml-2">{{servicio.observaciones}}</p>
                </div>
                <div class="row">
                    <strong><p>Realizado por el trabajador: </p></strong>
                    <p class="ml-1">{{servicio.trabajador.persona.nombre}} {{servicio.trabajador.persona.apellidos}}</p>
                </div>
                {% endif %}

            </div>
            {% if cliente %}
            <div class="col-sm">
                <div class="row">
                    <h3 class="text-muted mb-3 w-100">Detalles del cliente</h3>
                    <strong><p>Cliente:</p></strong>
                    <p class="ml-2">{{cliente.persona.nombre}},{{cliente.persona.apellidos}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección:</p></strong>
                    <p class="ml-2">{{cliente.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono:</p></strong>
                    <p class="ml-2">{{cliente.persona.telefono}}</p>
                </div>
            </div>
            {% endif %}
            {% if empresa %}
            <div class="col-sm">
                <div class="row">
                    <h3 class="text-muted mb-3 w-100">Detalles de la empresa</h3>
                    <strong><p>Empresa:</p></strong>
                    <p class="ml-2">{{empresa.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección:</p></strong>
                    <p class="ml-2">{{empresa.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono:</p></strong>
                    <p class="ml-2">{{empresa.telefono}}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}