{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% if tratamiento %}
<div class="container mb-5" style="margin-top:10%;">
    <h1 class="mb-4"> Tratamiento {{tratamiento.id}}</h1>
    <h3 class="text-muted mb-3 w-100">Detalles del tratamiento</h3>

    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <strong>
                        <p>Nombre del tratamiento: </p>
                    </strong>
                    <p class=" ml-1">{{tratamiento.nombre}}</p>
                </div>
                <div class="row">
                    <strong>
                        <p>Plaga:</p>
                    </strong>
                    <p class="ml-1">{{tratamiento.plaga.nombre}}</p>
                </div>
                <div class="row">
                    <strong>
                        <p>Abandono: </p>
                    </strong>
                    {% if tratamiento.abandono %}
                    <p class=" ml-1">Sí</p>
                    {% else %}
                    <p class=" ml-1">No</p>
                    {% endif %}
                </div>
                {% if tratamiento.abandono %}
                <div class="row">
                    <strong>
                        <p>Horas de abandono: </p>
                    </strong>
                    <p class="ml-1">{{tratamiento.horasAbandono}}</p>
                </div>
                {% endif %}

            </div>
            <div class="col-sm">
                <div class="row">
                    <strong>
                        <p>Descripción del tratamiento: </p>
                    </strong>
                    <p class="ml-1">{{tratamiento.descripcion}}</p>
                </div>
            </div>
        </div>
        {% if not form %}
        <div class="row my-3">
            <a class="btn btn-outline-dark rounded-0"
                href="/administrador/tratamiento/edit/{{tratamiento.id}}">Editar</a>
            <a class="ml-3 btn btn-outline-danger rounded-0" href="/administrador/tratamiento/delete/{{tratamiento.id}}">Eliminar tratamiento</a>

        </div>
        {% endif %}
    </div>

</div>
{% endif %}
{% if form %}
<div class="container mb-5" style="margin-top:10%;">
    <h1 class="mb-4"> Nuevo tratamiento</h1>
    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}

        <form id='form' method='post'>
            {% csrf_token %}

            {% for field in form %}
            <div class="container center_div" style="margin-top:10px;">
                {# uncomment to display field errors #}
                {# {{ field.errors }} #}
                {% if not field == form.descripcion %}
                {{ field.label_tag }} {{ field }}
                {% endif%}
                {% if field == form.descripcion %}
                <p>Descripción:</p>
                {{field}}
                {% endif%}
            </div>
            {% endfor %}
            <div class=" container  my-3">
                <input type='submit' class="btn btn-outline-dark rounded-0" value='Confirmar'/>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% if tratamiento_edit %}
<div class="container mb-5" style="margin-top:10%;">
    <h1 class="mb-4"> Editar tratamiento</h1>
    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}

        <form id='form_edit' method='post'>
            {% csrf_token %}

            {% for field, valor in items %}
            <div class="container center_div" style="margin-top:10px;">

                {% if not field == form.descripcion %}
                <label for="field">{{field.label_tag}}</label>
                <input id="field" type="{{field.type}}" name="{{field.name}}" value="{{valor}}">
                {% endif %}
                {% if field == form.descripcion %}
                <p>Descripción:</p>
                <input id="field" type="{{field.type}}" name="{{field.name}}" value="{{valor}}">
                {% endif %}
                {# uncomment to display field errors #}
                {# {{ field.errors }} #}
               <!-- {% if not field == form.descripcion %}
                {{ field.label_tag }} {{ field }}
                {% endif%}
                {% if field == form.descripcion %}
                <p>Descripción:</p>
                {{field}}
                {% endif%}-->
            </div>
            {% endfor %}
            <div class=" container  my-3">
                <input type='submit' class="btn btn-outline-dark rounded-0" value='Confirmar' />
            </div>
        </form>
    </div>
</div>

{% endif %}
{% endblock %}