{% extends 'header.html' %}
{% block contenido %}

<div class="container">
        <div class="row justify-content-center my-5">
            <h1 class="my-4 subtitle text-uppercase text-center w-100">Inicio de sesión</h1>
        </div>
        <div class="row justify-content-center my-5">
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger" style="width:100%">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" style="width:100%">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}

            {% if er_msg %}
            <div class="alert alert-danger" style="width:100%">
                <strong>{{er_msg}}</strong>
            </div>
            {% endif %}

            {% if ex_msg %}
            <div class="alert alert-success" style="width:100%">
                <strong>{{ex_msg}}</strong>
            </div>
            {% endif %}
            <form id='form' method='post'>
                {% csrf_token %}

                {% for field in form %}
                <div class="w-100">
                    {# uncomment to display field errors #}
                    {# {{ field.errors }} #}
                    <div class="form-group ">
                     {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="d-flex justify-content-center ">
                    <input type='submit' class="btn-outline btn-dedesin mt-4" value='Confirmar'/>
                </div>
            </form>
    </div>
</div>
{% endblock %}