<p>sign-in works!</p>
<div class="container col-md-6"></div>
<div class="card">
<div class="card-body"> 
<form  #userForm ="ngForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" required class="form-control" [(ngModel)]="userModel.email">
    </div>
    <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="userModel.password">
    </div>
    <button class="btn btn-info">Iniciar</button>
</form>
</div>
</div>

