footer {
  background-color: #fcfcff;
}

body {
  font-family: "Ubuntu", sans-serif;
}
#home-1 {
  background-image: url("images/fondo_texto.png");
  background-size: cover;
}
#home-2 {
  background-image: url("images/fondo_texto_ladeado.png");
  background-size: cover;
}
.snippet-principal{
    margin-top:10rem!important;
    margin-bottom:10rem!important;
}
.snippet-fondo{
    padding-top:10rem!important;
    padding-bottom:10rem!important;
}
.btn-outline {
  border: 2px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
}
.btn-dedesin {
  border-color: #2a9d8f;
  color: #2a9d8f;
}

.btn-dedesin:hover {
  background-color: #2a9d8f;
  color: white;
}
.title {
  color: black;
  font-weight: 700;
  font-size: 4 rem;
}
.subtitle {
  color: #2a9d8f;
  font-weight: 400;
  font-size: 2.25 rem;
}
.bg-dedesin-primary {
  background-color: #2a9d8f;
}
.color-dedesin {
    color: #2a9d8f;
}

.filter-row input, .filter-row select{
    width:50%;
    margin-left:1rem;
}
#nav-sup {
  font-weight: 200;
  font-size: 15px;
}
.nav-link, .dropdown-item {
  color: 2a9d8f;
  text-transform: uppercase;
}
.circle-icon {
  display: inline-block;
  border-radius: 60px;
  background-color: #2a9d8f;
  padding: 0.65em 0.6em;
  color: white;
}

#parallax-inicio {
  background-image: url("images/parallax-inicio.jpg");

  /* Full height */
  height: 60%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#wideform input:not([type="checkbox"]){
  width: 100%;
  margin: 0;
}
#wideform textarea{
  width: 100%;
  margin: 0;
  height: 10rem;
}
