{% extends 'headerEmpresa.html' %}
{% block contenido %}
{% load static %}
<div class="container">
    <div class="alert alert-success mx-5 text-center" style="margin-top:10%">
        <strong> Bienvenido de nuevo. Estábamos deseando volver a verle. </strong>
    </div>
    <div name="container" class="d-flex justify-content-center" style="margin-top:10%;">
        <div class="row  ">
            <h1 class="text-center font-weight-bolder" style="width:100%;"> ¿Quiénes somos? </h1>
            <div class="col center-block text-justify mt-5" style="padding-left:7%; padding-right:7%">
                <p> Somos una empresa andaluza, con sede en Sevilla y desarrollamos nuestra actividad en el
                    campo del Control Medioambiental desde hace más de 40 años. A lo largo de los años hemos logrado
                    constituirnos como empresa líder, precursora, reconocida y motor del desarrollo en el sector.
                    En Dedesin, S.L. desarrollamos nuestros servicios bajo la premisa de una completa filosofía y
                    código deontológico de trabajo. Contamos con las más novedosas técnicas en diagnosis, seguimiento
                    y control del sector. Consolidados como un referente indiscutible en nuestra actividad,
                    nos caracterizamos por utilizar siempre productos de calidad y contar con un personal profesional,
                    cualificado y formado de forma precisa, para el desarrollo de su actividad laboral.</p>
            </div>
        </div>
    </div>
</div>

<div class="container my-5 ">
    <h1 class="text-center font-weight-bolder" style="width:100%;"> Nuestros certificados</h1>
    <div class="row text-center align-items-center mt-5 ">
        <div class="col-sm">
            <img class="rounded mx-auto d-block mt-4" style="width:30%" src="{% static '/gestion-ambiental.jpg' %}"
                 alt="Certificado AENOR de medio ambiente"/>
        </div>
        <div class="col-sm">
            <img class="rounded mx-auto d-block mt-4" style="width:30%" src="{% static '/empresa-registrada.png' %}"
                 alt="Certificado AENOR de empresa registrada"/>

        </div>

        <div class="col-sm">
            <img class="rounded mx-auto d-block mt-4" style="width:90%" src="{% static '/anecpla.jpg' %}"
                 alt="Certificado Anecpla"/>
        </div>

        <div class="col-sm">
            <img class="rounded mx-auto d-block mt-4" style="width:90%" src="{% static '/ministerio.png' %}"
                 alt="Ministerio de sanidad"/>
        </div>
    </div>
</div>
<div class="container" style="margin-top:10%; margin-bottom:7%">
    <h1 class="text-center font-weight-bolder" style="width:100%;"> Trabajamos para</h1>
    <div class="row text-center mt-5">
        <div class="col-sm">
            <img class="rounded mx-auto d-block mt-4" style="width:20%" src="{% static '/nino.png' %}"
                 alt="Clientes particulares"/>
            <h3 class="mt-3">Particulares</h3>
            <p class="text-left mt-3">Dedesin, S. L. soluciona todos aquellos problemas domésticos de control
                medioambiental que usted mismo no pueda solventar.</p>
        </div>
        <div class="col-sm">
            <img class="rounded mx-auto d-block mt-4" style="width:20%" src="{% static '/empresa.png' %}"
                 alt="Empresas privadas"/>
            <h3 class="mt-3">Empresas privadas</h3>
            <p class="text-left mt-3 ">Dedesin, S. L. soluciona de forma efectiva, profesional y económica los problemas
                de control medioambiental que tenga en sus instalaciones.</p>
        </div>
        <div class="col-sm">
            <img class="rounded mx-auto d-block mt-4" style="width:20%" src="{% static '/municipalidad.png' %}"
                 alt="Administración pública"/>
            <h3 class="mt-3">Administración pública</h3>
            <p class="text-left mt-3">Dedesin, S.L. soluciona problemas relacionados con el medioambiente en núcleos
                urbanos y edificios dependientes de la administración pública.</p>
        </div>
    </div>
</div>
<div class="container my-3">
            <h1 class="text-center font-weight-bolder" style="width:100%;">Servicios que realizamos</h1>

    <div class="row my-5 text-center my-4">
        <div class="col-sm">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/desratizacion.png' %}"
                 alt="Desratización"/>
            <h3 class="mt-3">Desratización</h3>
            <p class="text-left mt-3">Solución rápida y eficaz para controlar ratas, ratones y roedores.</p>
        </div>
        <div class="col-sm">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/desinfectante.png' %}"
                 alt="Desinfección"/>
            <h3 class="mt-3">Desinfección</h3>
            <p class="text-left mt-3">Complemento indispensable a un buen sistema de limpieza, asegurando que gérmenes y
                bacterias no se
                desarrollen.</p>
        </div>
        <div class="col-sm">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/desinsectacion.png' %}"
                 alt="Desinsectación"/>
            <h3 class="mt-3">Desinsectación</h3>
            <p class="text-left mt-3">Eliminamos cualquier tipo de plaga de insectos que haya invadido su hogar o su
                lugar de trabajo.</p>
        </div>
    </div>
    <div class="row my-5 text-center my-4">
        <div class="col-sm">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/aguila.png' %}"
                 alt="Control de aves"/>
            <h3 class="mt-3">Control de aves</h3>
            <p class="text-left mt-3">Bajo la premisa de no dañar a las aves y causar el menor impacto paisajístico e
                ambiental posible.</p>
        </div>
        <div class="col-sm">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/termita.png' %}"
                 alt="Control de xilófagos"/>
            <h3 class="mt-3"> Control de xilófagos</h3>
            <p class="text-left mt-3">Causantes de la degradación de estructuras en edificios, además de adornos,
                puertas o remates de
                madera.</p>
        </div>
        <div class="col-sm">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/aire-acondicionado.png' %}"
                 alt="Limpieza de sistemas de climatización"/>
            <h3 class="mt-3">Limpieza de sistemas de climatización</h3>
            <p class="text-left mt-3">limpieza y prevención en los conductos de aire acondicionado, climatización, tubos
                de ventilación y
                conductos industriales.</p>
        </div>
    </div>
    <div class="row my-5 text-center my-4">
        <div class="col-sm">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/limpieza.png' %}"
                 alt="Limpieza industrial y suministros"/>
            <h3 class="mt-3">Limpieza industrial y suministros</h3>
            <p class="text-left mt-3">Limpieza posterior a eventos, ferias, espectáculos, finalización de obras, naves
                industriales, viviendas
                en desuso, etc.</p>
        </div>
        <div class="col-sm">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/cortacesped.png' %}"
                 alt="Desherbación y desbroce"/>
            <h3 class="mt-3">Desherbación y desbroce</h3>
            <p class="text-left mt-3">Mediante técnicas manuales, mecánicas y químicas.</p>
        </div>
        <div class="col-sm">
            <img class="rounded mx-auto d-block" style="width:20%" src="{% static '/gota-de-agua.png' %}"
                 alt="Instalaciones RD. 865/2003"/>
            <h3 class="mt-3">Instalaciones RD. 865/2003</h3>
            <p class="text-left mt-3">Para la prevención y control de la Legionella Pneumophila</p>
        </div>
    </div>
</div>
</div>
{% endblock %}