{% extends 'headerEmpresa.html' %}
{% block contenido %}
<div class="container mb-5" style="margin-top:10%;">
    <h1> Solicitud de servicio x</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <strong><p>Fecha: </p></strong>
                    <p class=" ml-1">01/01/2021</p>
                </div>
                <div class="row">
                    <strong><p>Estado:</p></strong>
                    <p class="ml-1">Aceptada</p>
                </div>
                <div class="row">
                    <strong><p>Tratamiento: </p></strong>
                    <p class="ml-1">Tratamiento contra hormigas - Extremo</p>
                </div>
                <div class="row">
                    <strong><p>Plaga: </p></strong>
                    <p class="ml-1">Hormigas</p>
                </div>
                <div class="row">
                    <strong><p>Abandono: </p></strong>
                    <p class="ml-1">Sí</p>
                </div>
                <div class="row">
                    <strong><p>Tiempo de abandono: </p></strong>
                    <p class="ml-1">8 horas</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <strong><p>Observaciones</p></strong>
                    <p class="ml-2">Buenas tardes,
                        Tengo muchas hormigas en la casetilla de mi perro POR FAVOR AYUDA !!!!!!!
                        Gracias</p>
                </div>
                <div class="row">
                    <strong><p>Dirección: </p> </strong>
                    <p class="ml-1">C/Enramadilla, 7, Valencia</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-end my-5 mr-3">
        <a class="btn btn-outline-dark rounded-0"href="#">Editar</a>
    </div>
</div>
{% endblock %}