#parallax-inicio{
    background-image: url("images/parallax-inicio.jpg");

    /* Full height */
    height: 60%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}