<div class="container">
    <h1>LOG IN</h1>
    <form action="">
        <div class="input">
            <label for="email">Email:</label>
            <br>
            <input type="email" name="email" id="email">
        </div>

        <div class="input">
            <label for="contraseña">Contraseña:</label>
            <br>
            <input type="password" name="contraseña" id="contraseña">
        </div>
        <div class="buttons">
        <button>Login</button>
        </div>
    </form>

</div>