{% extends 'headerCliente.html' %}
{% block contenido %}
{% if cliente %}
<div class="container">
    <strong><h1 class="title">Mi perfil</h1></strong>
    <div class="container mt-4 mb-5">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <div class="row">
                    <strong><p>Nombre: </p></strong>
                    <p class="ml-1">{{cliente.persona.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Apellidos: </p></strong>
                    <p class="ml-1">{{cliente.persona.apellidos}}</p>
                </div>
                <div class="row">
                    <strong><p>DNI: </p></strong>
                    <p class="ml-1">{{cliente.persona.dni}}</p>
                </div>
                <div class="row">
                    <strong><p> Email:</p></strong>
                    <p class="ml-1">{{cliente.persona.usuario.username}}</p>
                </div>
            </div>

            <div class="col-lg-6 col-xs-12">

                <div class="row">
                    <strong><p>Teléfono: </p></strong>
                    <p class="ml-1">{{cliente.persona.telefono}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección: </p></strong>
                    <p class="ml-1">{{cliente.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Cuenta bancaria: </p></strong>
                    {% if cliente.cuenta_bancaria %}
                    <p class="ml-1">{{cliente.cuenta_bancaria}}</p>
                    {% else %}
                    <p class="text-danger ml-1">Por definir</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row my-3">
            <a class="page-link btn-dedesin" href="edit/">Editar</a>
        </div>
    </div>
</div>
{% endif %}
{% if form %}
<div class="container">

    <strong><h1 class="title mb-3">Mi perfil</h1></strong>

    <form id='form' method='post'>
        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        {% for field, valor in items %}
        <div class="container">
            <label for="field">{{field.label_tag}}</label>
            <input id="field" type="{{field.type}}" name="{{field.name}}" value="{{valor}}">
        </div>
        {% endfor %}
        <input type='submit' class="page-link btn-dedesin my-3" value='Confirmar'
               style=""/>
    </form>
</div>
{% endif %}
{% endblock %}