{% extends 'headerTrabajador.html' %}
{% block contenido %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <h4 class="subtitle mx-5 w-100">
            Bienvenido {{nombre_trabajador}}
        </h4>
        <hr>
    </div>
</div>
<div class="container-fluid">
    <div class="row snippet-fondo" id="home-1">
        <h1 class="title mx-5">Inicio</h1>
        <h4 class="subtitle mx-5 w-100">
            Trabajador / Inicio
        </h4>
        <hr>
    </div>
</div>
<div class="container snippet-principal">
    <h1 class="text-center font-weight-bolder mt-2">Catálogo de servicios</h1>
    <div class="row text-center">
        <div class="col-lg-4 col-md-12 col-xs-12 my-5">
            <i class="fal fa-home-alt fa-3x circle-icon"></i>
            <h3 class="mt-3 subtitle">Desratización</h3>
            <p class="text-justify mt-3">
                Solución rápida y eficaz para controlar ratas, ratones y roedores.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 my-5">
            <i class="circle-icon fal fa-virus-slash fa-3x"></i>
            <h3 class="mt-3 subtitle">Desinfección</h3>
            <p class="text-justify mt-3">
                Complemento indispensable a un buen sistema de limpieza, asegurando que gérmenes y
                bacterias no se
                desarrollen.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-6 my-5">
            <i class="circle-icon fal fa-debug fa-3x"></i>
            <h3 class="mt-3 subtitle">Desinsectación</h3>
            <p class="text-justify mt-3">
                Eliminamos cualquier tipo de plaga de insectos que haya invadido su hogar o su lugar de trabajo.
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-4 col-md-12 col-xs-12 my-5">
            <i class="fal fa-crow fa-3x circle-icon"></i>
            <h3 class="mt-3 subtitle">Control de aves</h3>
            <p class="text-justify mt-3">
                Bajo la premisa de no dañar a las aves y causar el menor impacto paisajístico e ambiental posible.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 my-5">
            <i class="circle-icon fal fa-tree-alt fa-3x"></i>
            <h3 class="mt-3 subtitle">Control de xilófagos</h3>
            <p class="text-justify mt-3">
                Causantes de la degradación de estructuras en edificios, además de adornos, puertas o remates de madera.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 my-5">
            <i class="circle-icon fal fa-air-conditioner fa-3x"></i>
            <h3 class="mt-3 subtitle">Limpieza de sistemas de climatización</h3>
            <p class="text-justify mt-3">
                Limpieza y prevención en los conductos de aire acondicionado, climatización, tubos de ventilación y
                conductos
                industriales.
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-4 col-md-12 col-xs-12 my-5">
            <i class="fal fa-broom fa-3x circle-icon"></i>
            <h3 class="mt-3 subtitle">Limpieza industrial y suministros</h3>
            <p class="text-justify mt-3">
                Limpieza posterior a eventos, ferias, espectáculos, finalización de obras, naves industriales, viviendas
                en
                desuso, etc.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 my-5">
            <i class="circle-icon fal fa-leaf fa-3x"></i>
            <h3 class="mt-3 subtitle">Desherbación y desbroce</h3>
            <p class="text-justify mt-3">
                Mediante técnicas manuales, mecánicas y químicas.
            </p>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 my-5">
            <i class="circle-icon fal fa-swimming-pool fa-3x"></i>
            <h3 class="mt-3 subtitle">Instalaciones RD. 865/2003</h3>
            <p class="text-justify mt-3">
                Para la prevención y control de la Legionella Pneumophila
            </p>
        </div>
    </div>
</div>
{% endblock %}
