{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% if cliente %}
<div class="container mb-5">
    <h1>Cliente {{cliente.persona.nombre}} {{cliente.persona.apellidos}} </h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles del cliente</h3>
                    <strong><p>DNI: </p></strong>
                    <p class=" ml-1">{{cliente.persona.dni}}</p>
                </div>
                <div class="row">
                    <strong><p>Correo: </p></strong>
                    <p class="ml-1">{{cliente.persona.usuario.username}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono: </p></strong>
                    <p class="ml-1">{{cliente.persona.telefono}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección: </p></strong>
                    <p class="ml-1">{{cliente.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Cuenta bancaria: </p></strong>
                    {% if cliente.cuenta_bancaria %}
                    <p class="ml-1">{{cliente.cuenta_bancaria}}</p>
                    {% else %}
                    <p class="ml-1 text-warning">Por definir</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}