{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% load extraFiltros %}
{% if num_clientes %}
<div class="container">
    <strong><h1 class="title">Clientes particulares</h1></strong>
    <h2 class="subtitle mt-3"> Actualmente se tienen {{num_clientes}} clientes</h2>
    {% if msg_error %}
    <div class="alert alert-danger w-100">
        <strong>{{msg_error}}</strong>
    </div>
    {% endif %}
    <div class="container">
        <form id='form' method='get'>
            <div class="row">
                {% for field in clientesFilter.form %}
                <div class="col-lg-4 col-md-4 col-xs-6 my-1 filter-row text-left">
                    {{field.label}}{{field}}
                </div>
                {% endfor %}
                <div class="col-12 mt-2 ">
                    <div class="row">
                        <input type='submit' class="page-link btn-dedesin" value='Filtrar'/>
                        <a href="/administrador/cliente" class="btn btn-outline-danger rounded-0 ml-2">
                            Borrar filtros
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table text-center">
        <thead class="bg-dedesin-primary text-white">
        <tr>
            <th scope="col">DNI</th>
            <th scope="col">Nombre completo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Dirección</th>
        </tr>
        </thead>
        <tbody>
        {% for c in page_obj %}
        <tr>
            <td><a class="text-decoration-none" href="show/{{c.id}}"> {{c.persona.dni}}</a></td>
            <td>{{c.persona.nombre}} {{c.persona.apellidos}}</td>
            <td>{{c.persona.telefono}}</td>
            <td>{{c.direccion}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
   <div class="pagination my-3">
        <div class="step-links container">
            <div class="current row my-3">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </div>
            <div class=" row ">
                {% if page_obj.has_previous %}
                <a class="page-link btn-dedesin"
                   href="{% extraFiltros 1 'page' request.GET.urlencode %}">&laquo;</a>
                <a class="page-link btn-dedesin" href="
                {% extraFiltros page_obj.previous_page_number 'page' request.GET.urlencode %}">Anterior
                    página</a>

                {% endif %}

                {% if page_obj.has_next %}
                <a class="page-link btn-dedesin" href="
                {% extraFiltros page_obj.next_page_number 'page' request.GET.urlencode %}">Próxima
                    página</a>
                <a class="page-link btn-dedesin" href="
                {% extraFiltros page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container mb-5">
    <div class="row">
        <strong><h1 class="title">Clientes particulares</h1></strong>
        {% if msg_error %}
        <h2 class="text-danger my-3 w-100">{{msg_error}}</h2>
        {% else %}
        <h2 class="subtitle my-3 w-100">Actualmente no tiene ningún cliente particular.</h2>
        {% endif %}
    </div>
    {% if msg_error %}
    <div class="row">
        <a class="mr-auto page-link btn-dedesin mt-2 mb-5"
           href="/administrador/cliente/">Atrás</a>
    </div>
    {% endif %}

</div>
{% endif %}
{% endblock %}