{% extends 'headerCliente.html' %}
{% block contenido %}
{% if factura %}
<div class="container mb-5">
    <h1 class="title"> Factura {{factura.id}} </h1>
    <h2 class="subtitle">Servicio asociado: <a class="color-dedesin text-decoration-none"
            href="/administrador/servicio/show/{{servicio.id}}/">{{servicio.id}}</a>
    </h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <strong><p>Fecha operaciones: </p></strong>
                    <p class=" ml-1">{{factura.fecha_expedicion}}</p>
                </div>
                <div class="row">
                    <strong><p>Emisor:</p></strong>
                    <p class="ml-1">{{factura.emisor}}</p>
                </div>
                <div class="row">
                    <strong><p>Receptor: </p></strong>
                    <p class="ml-1">{{factura.receptor}}</p>
                </div>
                <div class="row">
                    <strong><p>Importe: </p></strong>
                    <p class="ml-1">{{factura.importe}}€</p>
                </div>
                <div class="row">
                    <strong><p>Tipo impositivo: </p></strong>
                    <p class="ml-1">{{factura.tipo_impositivo}}%</p>
                </div>
                <div class="row">
                    <strong><p>Fecha de operaciones: </p></strong>
                    <p class="ml-1">{{factura.fecha_operaciones}}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <strong><p>Descripción: </p></strong>
                    <p class="ml-2">{{factura.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}