{% extends 'headerAdministrador.html' %}
{% block contenido %}
<div class="container mt-3 mb-5">
    <h1 class="title"> Nueva plaga</h1>
    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger w-100">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}
    </div>

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger" style="width:100%">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}
    <form id='form' method='post'>
        {% csrf_token %}
        {% for field in form %}
        <div class="form_group my-3">
            {# uncomment to display field errors #}
            {# {{ field.errors }} #}

            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}

        <input type='submit' class="page-link btn-dedesin my-4" value='Confirmar'/>

    </form>
</div>
{% endblock %}