{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% if num_servicios %}
<div class="container mb-5">
    <strong>
        <h1 style="margin-top:10%;"> Servicios </h1>
    </strong>
    <h2 class="text-muted mt-3 mb-5"> Actualmente se tienen {{num_servicios}} servicios</h2>
    <table class="table text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Plaga</th>
                <th scope="col">Cliente</th>
                <th scope="col">Trabajador</th>
                <th scope="col">Estado</th>

            </tr>
        </thead>
        <tbody>
            {% for servicio, cliente in items %}
            <tr>
                <td><a class="text-decoration-none" href="show/{{servicio.id}}">{{servicio.id}}</a></td>
                <td>{{servicio.solicitudServicio.fecha}}</td>
                <td>{{servicio.solicitudServicio.plaga.nombre}}</td>
                <td>{{cliente}}</td>
                {% if servicio.trabajador %}
                <td>{{servicio.trabajador.persona.nombre}} {{servicio.trabajador.persona.apellidos}}</td>
                {% else %}
                <td class="text-warning">Por definir</td>
                {% endif %}
                {% if servicio.estado.title == "Realizado" %}
                <td class="text-success">{{servicio.estado.title}}</td>
                {% else %}
                <td class="text-warning">{{servicio.estado.title}}</td>

                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<div class="container mb-5">
    <strong>
        <h1 style="margin-top:10%;"> Servicios </h1>
    </strong>
    <h2 class="text-muted mt-3 mb-5"> Actualmente no se tiene ningun servicio.</h2>
</div>
{% endif %}
{% endblock %}