{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% if servicio %}
<div class="container mb-5">
    <h1 class="title"> Servicio {{servicio.id}} </h1>
    <h2 class="subtitle">Solicitud de servicio asociada: <a class="text-decoration-none color-dedesin"
                                                            href="/administrador/solicitudServicio/show/{{servicio.solicitudServicio.id}}">{{servicio.solicitudServicio.id}}</a>
    </h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles del servicio</h3>
                    <strong><p>Fecha: </p></strong>
                    <p class=" ml-1">{{servicio.solicitudServicio.fecha}}</p>
                </div>
                <div class="row">
                    <strong><p>Estado:</p></strong>
                    <p class="ml-1">{{servicio.estado.title}}</p>
                </div>
                <div class="row">
                    <strong><p>Tratamiento: </p></strong>
                    <p class="ml-1">{{servicio.solicitudServicio.tratamiento.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Plaga: </p></strong>
                    <p class="ml-1">{{servicio.solicitudServicio.plaga.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Abandono: </p></strong>
                    <p class="ml-1">{{servicio.solicitudServicio.tratamiento.abandono}}</p>
                </div>
                <div class="row">
                    <strong><p>Tiempo de abandono: </p></strong>
                    <p class="ml-1">{{servicio.solicitudServicio.tratamiento.horasAbandono}}</p>
                </div>
                <div class="row">
                    <strong><p>Trabajador asociado: </p></strong>
                    {% if servicio.trabajador %}
                    <p class="ml-1">{{servicio.trabajador.persona.nombre}} {{servicio.trabajador.persona.apellidos}}</p>
                    {% else %}
                    <p class="ml-1 text-danger">Por definir</p>
                    {% endif %}
                </div>
                {% if servicio.estado == 'realizado' %}
                <div class="row">
                    <strong><p>Observaciones del trabajador</p></strong>
                    <p class="ml-2">{{servicio.observaciones}}</p>
                </div>
                {% endif %}

            </div>
            {% if cliente %}
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles del cliente</h3>
                    <strong><p>Cliente:</p></strong>
                    <p class="ml-2">{{cliente.persona.nombre}},{{cliente.persona.apellidos}}</p>
                </div>
                <div class="row">
                    <strong><p>Correo electrónico:</p></strong>
                    <p class="ml-2">{{cliente.persona.usuario.username}}</p>
                </div>
                <div class="row">
                    <strong><p>DNI:</p></strong>
                    <p class="ml-2">{{cliente.persona.dni}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección:</p></strong>
                    <p class="ml-2">{{cliente.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono:</p></strong>
                    <p class="ml-2">{{cliente.persona.telefono}}</p>
                </div>
                {% if cliente.cuenta_bancaria %}
                <div class="row">
                    <strong><p>Cuenta bancaria:</p></strong>
                    <p class="ml-2">{{cliente.cuenta_bancaria}}</p>
                </div>
                {% endif %}

            </div>
            {% endif %}
            {% if empresa %}
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles de la empresa</h3>
                    <strong><p>Empresa:</p></strong>
                    <p class="ml-2">{{empresa.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>CIF:</p></strong>
                    <p class="ml-2">{{empresa.cif}}</p>
                </div>
                <div class="row">
                    <strong><p>Correo electrónico:</p></strong>
                    <p class="ml-2">{{empresa.usuario.username}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección:</p></strong>
                    <p class="ml-2">{{empresa.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono:</p></strong>
                    <p class="ml-2">{{empresa.telefono}}</p>
                </div>
                {% if empresa.cuenta_bancaria %}
                <div class="row">
                    <strong><p>Cuenta bancaria:</p></strong>
                    <p class="ml-2">{{empresa.cuenta_bancaria}}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% if servicio.estado == 'Pendiente'%}
        {% if not form %}
        <div class="row my-3">
            <a class="page-link btn-dedesin"
               href="/administrador/servicio/edit/{{servicio.id}}">Editar</a>
        </div>
        {% endif %}
        {% endif %}

    </div>
</div>
{% endif %}
{% if servicio_edit %}
<div class="container mb-5">
    <h1 class="title"> Servicio {{servicio_edit.id}} </h1>
    <h2 class="subtitle mt-3">Solicitud de servicio asociada: {{servicio_edit.solicitudServicio.id}}</h2>
    {% if msg_error %}
    <div class="alert alert-danger" style="width:100%">
        <strong>{{msg_error}}</strong>
    </div>
    {% endif %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles del servicio</h3>
                    <strong><p>Fecha: </p></strong>
                    <p class=" ml-1">{{servicio_edit.solicitudServicio.fecha}}</p>
                </div>
                <div class="row">
                    <strong><p>Estado:</p></strong>
                    <p class="ml-1">{{servicio_edit.estado.title}}</p>
                </div>
                <div class="row">
                    <strong><p>Tratamiento: </p></strong>
                    <p class="ml-1">{{servicio_edit.solicitudServicio.tratamiento.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Plaga: </p></strong>
                    <p class="ml-1">{{servicio_edit.solicitudServicio.plaga.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Abandono: </p></strong>
                    <p class="ml-1">{{servicio_edit.solicitudServicio.tratamiento.abandono}}</p>
                </div>
                <div class="row">
                    <strong><p>Tiempo de abandono: </p></strong>
                    <p class="ml-1">{{servicio_edit.solicitudServicio.tratamiento.horasAbandono}}</p>
                </div>
                <div class="row">
                    <form id='form' method='post'>
                        {% csrf_token %}
                        {% for field in form %}

                        {# uncomment to display field errors #}
                        {# {{ field.errors }} #}

                        {{ field.label_tag }} {{ field }}

                        {% endfor %}
                        <p><input type='submit' class="page-link my-4 btn-dedesin" value='Confirmar'/>
                    </form>
                </div>
            </div>
            {% if cliente %}
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles del cliente</h3>
                    <strong><p>Cliente:</p></strong>
                    <p class="ml-2">{{cliente.persona.nombre}},{{cliente.persona.apellidos}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección:</p></strong>
                    <p class="ml-2">{{cliente.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono:</p></strong>
                    <p class="ml-2">{{cliente.persona.telefono}}</p>
                </div>
            </div>
            {% endif %}
            {% if empresa %}
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles de la empresa</h3>
                    <strong><p>Empresa:</p></strong>
                    <p class="ml-2">{{empresa.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección:</p></strong>
                    <p class="ml-2">{{empresa.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono:</p></strong>
                    <p class="ml-2">{{empresa.telefono}}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endif %}
{% endblock %}