{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% if solicitud %}
<div class="container mb-5">
    <h1 class="title"> Solicitud de servicio {{solicitud.id}}</h1>
    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger w-100">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles de la solicitud de servicio</h3>
                    <strong><p>Fecha: </p></strong>
                    {% if solicitud.fecha %}
                    <p class=" ml-1">{{solicitud.fecha}}</p>
                    {% else %}
                    <p class=" ml-1">Por definir</p>
                    {% endif %}
                </div>
                {% if not form %}
                <div class="row">
                    <strong><p>Estado:</p></strong>
                    <p class="ml-1">{{solicitud.estado.title}}</p>
                </div>
                {% endif %}
                <div class="row">
                    <strong><p>Tratamiento: </p></strong>
                    {% if solicitud.tratamiento %}
                    <p class=" ml-1">{{solicitud.tratamiento.nombre}}</p>
                    {% else %}
                    <p class=" ml-1">Por definir</p>
                    {% endif %}
                </div>
                <div class="row">
                    <strong><p>Plaga: </p></strong>
                    <p class="ml-1">{{solicitud.plaga.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>Abandono: </p></strong>
                    {% if solicitud.tratamiento %}
                    {% if solicitud.tratamiento.abandono %}
                    <p class=" ml-1">Sí</p>
                    {% else %}
                    <p class=" ml-1">No</p>
                    {% endif %}
                    {% else %}
                    <p class=" ml-1">Por definir</p>
                    {% endif %}
                </div>
                {% if solicitud.tratamiento.abandono %}
                <div class="row">
                    <strong><p>Tiempo de abandono: </p></strong>
                    <p class=" ml-1">{{solicitud.tratamiento.horasAbandono}}</p>
                </div>
                {% endif %}
                <div class="row">
                    <strong><p>Observaciones</p></strong>
                    <p class="ml-2">{{solicitud.observaciones}}</p>
                </div>

            </div>
            {% if cliente %}
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles del cliente</h3>
                    <strong><p>Cliente:</p></strong>
                    <p class="ml-2">{{cliente.persona.nombre}},{{cliente.persona.apellidos}}</p>
                </div>
                <div class="row">
                    <strong><p>Correo electrónico:</p></strong>
                    <p class="ml-2">{{cliente.persona.usuario.username}}</p>
                </div>
                <div class="row">
                    <strong><p>DNI:</p></strong>
                    <p class="ml-2">{{cliente.persona.dni}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección:</p></strong>
                    <p class="ml-2">{{cliente.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono:</p></strong>
                    <p class="ml-2">{{cliente.persona.telefono}}</p>
                </div>
                {% if cliente.cuenta_bancaria %}
                <div class="row">
                    <strong><p>Cuenta bancaria:</p></strong>
                    <p class="ml-2">{{cliente.cuenta_bancaria}}</p>
                </div>
                {% endif %}

            </div>
            {% endif %}
            {% if empresa %}
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles de la empresa</h3>
                    <strong><p>Empresa:</p></strong>
                    <p class="ml-2">{{empresa.nombre}}</p>
                </div>
                <div class="row">
                    <strong><p>CIF:</p></strong>
                    <p class="ml-2">{{empresa.cif}}</p>
                </div>
                <div class="row">
                    <strong><p>Correo electrónico:</p></strong>
                    <p class="ml-2">{{empresa.usuario.username}}</p>
                </div>
                <div class="row">
                    <strong><p>Dirección:</p></strong>
                    <p class="ml-2">{{empresa.direccion}}</p>
                </div>
                <div class="row">
                    <strong><p>Teléfono:</p></strong>
                    <p class="ml-2">{{empresa.telefono}}</p>
                </div>
                {% if empresa.cuenta_bancaria %}
                <div class="row">
                    <strong><p>Cuenta bancaria:</p></strong>
                    <p class="ml-2">{{empresa.cuenta_bancaria}}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% if solicitud.estado == 'Pendiente'%}
        {% if not form %}
        <div class="row my-3">
            <a class="page-link btn-dedesin"
               href="/administrador/solicitudServicio/edit/{{solicitud.id}}">Editar</a>
        </div>
        {% endif %}
        {% endif %}
    </div>

</div>
{% endif %}
{% if solicitud_edit %}
<div class="container mb-5">
    <h1 class="title"> Solicitud de servicio {{solicitud_edit.id}}</h1>
    {% if msg_error %}
    <div class="alert alert-danger w-100">
        <strong>{{msg_error}}</strong>
    </div>
    {% endif %}
    <div class="row my-3">

        <div class="col-lg-6 col-md-6 col-xs-12">
                <h3 class="subtitle mb-3 w-100">Editar la solicitud de servicio</h3>

                <form id='form' method='post'>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="my-3">
                        <strong><label for="field" class="mr-2">{{field.label_tag}}</label></strong>
                        {{field}}
                        {% for error in field.errors %}
                        <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <input type='submit' class="page-link btn-dedesin my-3" value='Confirmar'/>
                </form>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="row">
                <h3 class="subtitle mb-3 w-100">Detalles de la solicitud de servicio</h3>
            </div>
            <div class="row">
                <strong><p>Plaga:</p></strong>
                <p class="ml-1">{{solicitud_edit.plaga}}</p>
            </div>
            <div class="row">
                <strong><p>Estado:</p></strong>
                <p class="ml-1">{{solicitud_edit.estado.title}}</p>
            </div>

            <div class="row">
                <strong><p>Observaciones</p></strong>
                <p class="ml-2">{{solicitud_edit.observaciones}}</p>
            </div>
            {% if cliente %}
            <div class="row">
                <strong><p>Cliente:</p></strong>
                <p class="ml-1">{{cliente.persona.nombre}} {{cliente.persona.apellidos}}</p>
            </div>
            <div class="row">
                <strong><p>Dirección:</p></strong>
                <p class="ml-1">{{cliente.direccion}}</p>
            </div>
            <div class="row">
                <strong><p>Teléfono:</p></strong>
                <p class="ml-1">{{cliente.persona.telefono}}</p>
            </div>
            {% endif %}
             {% if empresa %}
            <div class="row">
                <strong><p>Empresa:</p></strong>
                <p class="ml-1">{{empresa.nombre}}</p>
            </div>
            <div class="row">
                <strong><p>Dirección:</p></strong>
                <p class="ml-1">{{empresa.direccion}}</p>
            </div>
            <div class="row">
                <strong><p>Teléfono:</p></strong>
                <p class="ml-1">{{empresa.telefono}}</p>
            </div>
            {% endif %}


        </div>
    </div>

</div>

{% endif %}
{% endblock %}