{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% load extraFiltros %}
{% if tratamiento %}
<div class="container mt-3 mb-5">
    <h1 class="title mb-4"> Tratamiento {{tratamiento.id}}</h1>
    <h2 class="subtitle mb-3 w-100">Detalles del tratamiento</h2>
    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <strong>
                        <p>Nombre del tratamiento: </p>
                    </strong>
                    <p class=" ml-1">{{tratamiento.nombre}}</p>
                </div>
                <div class="row">
                    <strong>
                        <p>Plaga:</p>
                    </strong>
                    <p class="ml-1">{{tratamiento.plaga.nombre}}</p>
                </div>
                <div class="row">
                    <strong>
                        <p>Abandono: </p>
                    </strong>
                    {% if tratamiento.abandono %}
                    <p class=" ml-1">Sí</p>
                    {% else %}
                    <p class=" ml-1">No</p>
                    {% endif %}
                </div>
                {% if tratamiento.abandono %}
                <div class="row">
                    <strong>
                        <p>Horas de abandono: </p>
                    </strong>
                    <p class="ml-1">{{tratamiento.horasAbandono}}</p>
                </div>
                {% endif %}

            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <strong>
                        <p>Descripción del tratamiento: </p>
                    </strong>
                    <p class="ml-1 text-justify">{{tratamiento.descripcion}}</p>
                </div>
            </div>
        </div>
        {% if not form %}
        <div class="row my-3">
            <a class="page-link btn-dedesin"
                href="/administrador/tratamiento/edit/{{tratamiento.id}}">Editar</a>
            <a class=" btn btn-outline-danger rounded-0 ml-3" href="/administrador/tratamiento/delete/{{tratamiento.id}}">Eliminar tratamiento</a>

        </div>
        {% endif %}
    </div>

</div>
{% endif %}
{% if form %}
<div class="container mb-5">
    <div class="row">
        <h1 class="mt-3 mb-4 title"> Nuevo tratamiento</h1>
    </div>
    {% if msg_error %}
    <div class="row">
        <div class="alert alert-danger w-100">
            <strong>{{msg_error}}</strong>
        </div>
    </div>
    {% endif %}
        <form id='wideform' method='post'>
            {% csrf_token %}
            {% for field in form %}
            <div class="row my-3">
                <strong><label for="field">{{field.label_tag}}</label></strong>
                <p class="w-100">{{field}}</p>
                {% for error in field.errors %}
                <p class="text-danger">{{ error|escape }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            
            <div class="row">
                <input type='submit' class="page-link btn-dedesin my-3 w-25" value='Confirmar'/>
            </div>
        </form>
</div>
{% endif %}
{% if tratamiento_edit %}
<div class="container mb-5" >
    <h1 class="title mt-3 mb-4"> Editar tratamiento</h1>
    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger w-100" >
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}
        <div class="row">
            <strong>
                <p>Plaga: </p>
            </strong>
            <p class=" ml-1">{{tratamiento_edit.plaga}}</p>
        </div>

        <form id='wideform' method='post'>
            {% csrf_token %}
            {% for field, valor in items %}
            <div class="row my-3">
                <strong><label for="field">{{field.label_tag}}</label></strong>
                <p class="w-100">{{field}}</p>
                {% for error in field.errors %}
                <p class="text-danger">{{ error|escape }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="row">
                <input type='submit' class="page-link btn-dedesin my-3 w-25" value='Confirmar'/>
            </div>
        </form>
    </div>
</div>

{% endif %}
{% endblock %}