{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% if num_tratamientos %}
<div class="container">
    <strong><h1 class="title">Tratamientos</h1></strong>
    <h2 class="subtitle mt-3 mb-5"> Actualmente se tienen {{num_tratamientos}} tratamientos</h2>
    {% if msg_error %}
    <div class="alert alert-danger w-100">
        <strong>{{msg_error}}</strong>
    </div>

    {% endif %}
    <table class="table text-center">
        <thead class="bg-dedesin-primary text-white">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del tratamiento</th>
            <th scope="col">Plaga</th>
        </tr>
        </thead>
        <tbody>
        {% for t in page_obj %}
        <tr>
            <td><a href="/administrador/tratamiento/show/{{t.id}}">{{t.id}}</a></td>
            <td>{{t.nombre}}</td>
            <td>{{t.plaga.nombre}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination my-3">
        <div class="step-links container">
            <div class="current row my-3">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </div>
            <div class=" row ">

                {% if page_obj.has_previous %}
                <a class="page-link btn-dedesin" href="?page=1">&laquo;</a>
                <a class="page-link btn-dedesin" href="?page={{ page_obj.previous_page_number }}">Anterior página</a>

                {% endif %}

                {% if page_obj.has_next %}
                <a class="page-link btn-dedesin" href="?page={{ page_obj.next_page_number }}">Próxima página</a>
                <a class="page-link btn-dedesin" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                {% endif %}
                <div class="ml-auto">
                    <a class="page-link btn-dedesin"
                       href="/administrador/tratamiento/create">Nuevo tratamiento</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container mb-5">
    <strong><h1 class="title">Tratamientos</h1></strong>

    <h2 class="subtitle mt-3 mb-5"> Actualmente no tiene ningún tratamiento introducido</h2>
    <a class=" page-link btn-dedesin mt-2 mb-5"
       href="/administrador/tratamiento/create">Nuevo tratamiento</a>
</div>
{% endif %}
{% endblock %}