{% extends 'headerAdministrador.html' %}
{% block contenido %}
{% if vehiculo %}
<div class="container mb-5">
    <h1 class="title"> Vehículo {{vehiculo.marca}}-{{vehiculo.modelo}} </h1>
    {% if trabajador %}
    <h2 class="subtitle">Trabajador asociado: {{trabajador.persona.nombre}} {{trabajador.persona.apellidos}}</h2>
    {% endif %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="subtitle mb-3 w-100">Detalles del vehículo</h3>
                    <strong><p>Marca: </p></strong>
                    <p class=" ml-1">{{vehiculo.marca}}</p>
                </div>
                <div class="row">
                    <strong><p>Modelo:</p></strong>
                    <p class="ml-1">{{vehiculo.modelo}}</p>
                </div>
                <div class="row">
                    <strong><p>Matrícula: </p></strong>
                    <p class="ml-1">{{vehiculo.matricula}}</p>
                </div>
                <div class="row">
                    <strong><p>Fecha proxíma revisión: </p></strong>
                    <p class="ml-1">{{vehiculo.proxima_revision}}</p>
                </div>
                <div class="row">
                    <strong><p>Fecha matriculación: </p></strong>
                    <p class="ml-1">{{vehiculo.fecha_matriculacion}}</p>
                </div>
                <div class="row">
                    <a class="page-link btn-dedesin mt-2 mb-5"
                       href="/administrador/vehiculo/edit/{{vehiculo.id}}">Editar</a>

                    <a class="btn btn-outline-danger rounded-0 ml-2 mt-2 mb-5"
                       href="/administrador/vehiculo/delete/{{vehiculo.id}}">Eliminar Vehículo</a>

                </div>

            </div>
        </div>
    </div>
</div>
{% endif %}
{% if form %}
<div class="container mb-5">
    <h1 class="title"> Nuevo vehículo </h1>
    <div class="mt-4">
        {% if msg_error %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}
    </div>

    <div class="container">
            <form id='wideform' method='post'>
                {% csrf_token %}
                {% for field in form %}
                <div class="row my-3">
                    <strong><label for="field">{{field.label_tag}}</label></strong>
                    <p class="w-100">{{field}}</p>
                    {% for error in field.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                
                <div class="row">
                    <input type='submit' class="page-link btn-dedesin my-3 w-25" value='Confirmar'/>
                </div>
            </form>
    </div>

</div>

{% endif %}
{% if form_edit %}
<div class="container mb-5">
    <h1 class="title"> Vehículo {{vehiculo_edit.modelo}}-{{vehiculo_edit.marca}} </h1>
    {% if trabajador %}
    <h2 class="subtitle">Trabajador asociado: {{trabajador.persona.nombre}} {{trabajador.persona.apellidos}}</h2>
    {% endif %}
    <div class="container mt-4">
        {% if msg_error %}
        <div class="alert alert-danger" style="width:100%">
            <strong>{{msg_error}}</strong>
        </div>
        {% endif %}
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <h3 class="text-muted mb-3 w-100"></h3>
                    <strong><p>Marca: </p></strong>
                    <p class=" ml-1">{{vehiculo_edit.marca}}</p>
                </div>
                <div class="row">
                    <strong><p>Modelo:</p></strong>
                    <p class="ml-1">{{vehiculo_edit.modelo}}</p>
                </div>
                <div class="row">
                    <strong><p>Matrícula: </p></strong>
                    <p class="ml-1">{{vehiculo_edit.matricula}}</p>
                </div>
                <div class="row">
                    <strong><p>Fecha de matriculación: </p></strong>
                    <p class="ml-1">{{vehiculo_edit.fecha_matriculacion}}</p>
                </div>
                    <form id='wideform' method='post'>
                        {% csrf_token %}
                        {% for field in form_edit %}
                        <div class="row my-3">
                            <strong><label for="field">{{field.label_tag}}</label></strong>
                            <p class="w-100">{{field}}</p>
                            {% for error in field.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        <div class="row">
                            <input type='submit' class="page-link btn-dedesin my-3 w-25" value='Confirmar'/>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}