{% extends 'headerEmpresa.html' %}
{% block contenido %}
<div class="container mb-5">
    <strong><h1 style="margin-top:10%;"> Servicios </h1></strong>
    <h2 class="text-muted mt-3 mb-5"> Actualmente se tienen x servicios</h2>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Plaga</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ejemplo</td>
            <td>Ejemplo</td>
            <td>Ejemplo</td>
            <td>Ejemplo</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}