{% extends 'headerEmpresa.html' %}
{% block contenido %}
<div class="container">
    {% csrf_token %}
    <strong><h1 class="title"> Solicitudes de servicio </h1></strong>
    <h2 class="subtitle my-3">Nueva solicitud</h2>
    <div class="row mb-4">
        <div class="col-lg-6 col-md-6 col-xs-12" >
            <form id='form' method='post'>
                {% csrf_token %}
                {% for field in form %}
                <div class="my-3">
                    <strong><label for="field" class="mr-2">{{field.label_tag}}</label></strong>
                    {{field}}
                    {% for error in field.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <input type='submit' class="page-link btn-dedesin my-3" value='Confirmar'/>
            </form>
                </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <h4 class="subtitle">A tener en cuenta</h4>
            <p class="text-justify">Para la máxima efectividad del servicio, se ruega que se complete detalladamente en las observaciones el problema correspondiente.</p>
        </div>
    </div>
</div>
</div>

{% endblock %}