{% extends 'headerEmpresa.html' %}
{% block contenido %}
{% if num_solicitudes %}
<div class="container">
    <strong><h1 class="title"> Solicitudes de servicio </h1></strong>
    <h2 class="subtitle mt-3 mb-5"> Actualmente se tienen {{num_solicitudes}} solicitudes de servicio</h2>

    <table class="table text-center">
        <thead class="bg-dedesin-primary text-white">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Plaga</th>
            <th scope="col">Estado</th>

        </tr>
        </thead>
        <tbody>
        {% for solicitud in page_obj %}
        <tr>
            <td>
                <a class="text-decoration-none" href="show/{{solicitud.id}}/">{{solicitud.id}}</a>
            </td>
            {% if solicitud.fecha %}
            <td>{{solicitud.fecha}}</td>
            {% else %}
            <td class="text-warning">Por definir</td>
            {% endif %}
            <td>{{solicitud.plaga}}</td>
            {% if solicitud.estado.title == "Aceptada" %}
            <td class="text-success">{{solicitud.estado.title}}</td>
            {% elif solicitud.estado.title == "Atendida" %}
            <td class="text-info">{{solicitud.estado.title}}</td>
            {% elif solicitud.estado.title == "Rechazada" %}
            <td class="text-danger">{{solicitud.estado.title}}</td>
            {% else %}
            <td class="text-warning">{{solicitud.estado.title}}</td>

            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination my-3">
        <div class="step-links container">
            <div class="current row my-3">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </div>
            <div class=" row ">
                {% if page_obj.has_previous %}
                <a class="page-link btn-dedesin" href="?page=1">&laquo;</a>
                <a class="page-link btn-dedesin" href="?page={{ page_obj.previous_page_number }}">Anterior página</a>

                {% endif %}

                {% if page_obj.has_next %}
                <a class="page-link btn-dedesin" href="?page={{ page_obj.next_page_number }}">Próxima página</a>
                <a class="page-link btn-dedesin" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                {% endif %}
                <div class="ml-auto">
                    <a class="page-link btn-dedesin" href="create/">Nueva solicitud</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <strong><h1 class="title"> Solicitudes de servicio </h1></strong>
    <h2 class="subtitle mt-3 mb-5"> Actualmente no tiene ninguna solicitud de servicio.</h2>
    <div class="row d-flex justify-content-end my-5 mr-2">
        <a class="btn btn-outline-dark rounded-0" href="create/">Nueva solicitud</a>
    </div>
</div>
{% endif %}
{% endblock %}