{% extends 'header.html' %}
{% block contenido %}
{% load static %}
<div class="container" style="margin-top:10%; margin-bottom:10%;">
    <div class="row">
        <div class="alert alert-danger text-center mt-5" style="width:100%">
            <strong class="">La petición que ha realizado no es posible. No tiene permisos.</strong>
        </div>
    </div>
        <div class="row d-flex justify-content-center mt-5">
            <img class="img-responsive center-block" src="{% static '/detener.png' %}" style="width: 30%;"/>
        </div>
</div>

{% endblock %}